<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>笑话大全 / 爆笑男女_笑话网站模板 AB模板网演示站点 - Www.AdminBuy.Cn</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/gaoxiao.css"/>
</head>
<body>
<div class="header wrapper clearfix">
    <h1><a title="笑话大全" href="/"><img src="/static/images/logo.png" alt="笑话大全"></a></h1>
    <div class="search">
        <form name="formsearch" action="/plus/search.php">
            <input type="hidden" name="kwtype" value="0"/>
            <input name="q" type="text" id="search-keyword" class="searchinput" placeholder="笑话"/>
            <input type="submit" class="searchbutton" value="">

            <input type="hidden" name="searchtype" value="title"/>
        </form>
    </div>
    <div class="ad468">

    </div>
</div>
<div class="nav wrapper clearfix">


    <a class='first on' href='tegaoxiao.html' rel='dropmenu1'>笑话大全</a>

    <a href='img.html'>搞笑图片</a>


</div>
<div class="place wrapper clearfix">
    <div class="position"><a href='http://127.0.0.2/'>主页</a> > <a href='/joke/'>笑话大全</a> > <a
            href='/joke/nannv/'>爆笑男女</a> >
    </div>
</div>
<div class="wrapper clearfix">
    <div class="main">
        <div class="category clearfix">
            <a href='/app01/text' rel='tegaoxiao.html'>笑话大全</a>
            <a class='first on' href='/app01/img'>搞笑图片</a>

        </div>
        <div class="item">
            {% for article in articles %}
                <h3><a href="<a href="/text-detail/{{ articles.id }}"" target="_blank"><b>{{ article.name }}</b></a>
                </h3>
                <div class="text">
                    <p>{{ article.content  |truncatechars:'50' }}</p>
                </div>
                <div class="bar clearfix">
                    <a class="read" href="/app01/text-detail/{{ article.id }}" target="_blank">查看全文</a>
                    <a class="type" href="/app01/text-detail/{{ article.id }}"
                       target="_blank">{{ article.category }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="pages">
            <li>首页</li>
            <li class="thisclass">1</li>
            <li><a href='list_4_2.html'>2</a></li>
            <li><a href='list_4_2.html'>下一页</a></li>
            <li><a href='list_4_2.html'>末页</a></li>
        </div>
    </div>
    <div class="aside">
        <div class="recommend">
            <h2>推荐笑话</h2>
            <ul>
                {% for article in marketing_article %}
                    <li>
                        <em class="n1">{{ forloop.counter }}</em>
                        <a href="/app01/text-detail/{{ article.id }}" target="_blank">
                            {{ article.name }}
                        </a>
                    </li>
                {% endfor %}


            </ul>
        </div>
        <div class="recommend">
            <h2>热门笑话</h2>
            <ul>
                {% for hot in hots %}
                    <li>
                        <em class="n1">{{ forloop.counter }}</em>
                        <a href="/app01/text-detail/{{ hot.id }}" target="_blank">{{ hot.name }}</a>
                    </li>
                {% endfor %}


            </ul>
        </div>
        <div class="ad300">
            {% for ab in abs %}
                <a href="{{ ab.link }}">
                    <img src="{{ MEDIA_URL }}{{ ab.logo }}" style="width: 300px;height: 250px;" border="0"/>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="index wrapper clearfix">
    <div class="tit"><a class="more" href="/pic/">更多»</a>
        <h2><a href="/pic/">搞笑图片</a></h2>
    </div>
    {% for img in img_jokes %}
        <a target="_blank" href="/app01/pic-detail/{{ img.id }}">
            <img alt="你们是练体操的吧，高难度" src="{{ MEDIA_URL }}{{ img.image }}">
            <span>你们是练体操的吧，高难度</span>
        </a>
    {% endfor %}

</div>
</div>
<div class="footer"><p><a href="/">AB模板网</a> Copyright &copy; 2002-2011 Www.AdminBuy.Cn. 版权所有</p></div>
</body>
</html>