{% extends 'base.html' %}
{% block title %}
    主页
{% endblock %}
{% load  static %}
{% block javascript %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/nprogress.js' %}"></script>
    <script src="{% static 'js/jquery.lazyload.min.js' %}"></script>
{% endblock %}
{% block content %}

    <section class="container">
        <div class="content-wrap">
            <div class="content">
                <div id="focusslide" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for banner in banners %}
                            {% if forloop.counter0 == 0 %}
                                <li data-target="#focusslide" data-slide-to="{{ forloop.counter0 }}"
                                    class="active"></li>
                            {% else %}
                                <li data-target="#focusslide" data-slide-to="{{ forloop.counter0 }}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {% for banner in banners %}
                            {% if forloop.counter0 %}
                                <div class="item active">
                                    <a href="{{ banner.link }}" target="_blank" title="木庄网络博客源码">
                                        <img src="{{ MEDIA_URL }}{{ banner.img }}" alt="木庄网络博客源码"
                                             class="img-responsive"></a>
                                </div>

                            {% else %}
                                <div class="item">
                                    < <a href="{{ banner.link }}" target="_blank" title="木庄网络博客源码">
                                    <img src="{{ MEDIA_URL }}{{ banner.img }}" alt="木庄网络博客源码"
                                         class="img-responsive"></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">
                            上一个
                        </span>
                    </a>
                    <a class="right carousel-control" href="#focusslide" role="button" data-slide="next" rel="nofollow">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">
                        下一个
                    </span>
                    </a>
                </div>

                <article class="excerpt-minic excerpt-minic-index">
                    {% for article in articles %}
                        {% autoescape off %}
                            {% if article.is_top %}
                                <h2>
                                    <span class="red">【推荐】</span>
                                    <a target="_blank" href="{% url 'app01:show' id=article.id %}"
                                       title="{{ article.title }}">{{ article.title }}</a>
                                </h2>
                                <p class="note">{{ article.Content|truncatechars:'30' }}</p>
                            {% endif %}
                        {% endautoescape %}
                    {% endfor %}
                </article>

                <div class="title">
                    <h3>最新发布</h3>
                    <div class="more">
                        {% for category in categorys %}
                            <a href="{% url 'app01:list' id=category.id %}"
                               title="{{ category.name }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% for article in article.object_list %}
                    {% autoescape off %}
                        <article class="excerpt excerpt-1" style="">
                            <a class="focus" href="{% url 'app01:show' id=article.id %}" title="{{ article.title }}"
                               target="_blank">
                                <img class="thumb" data-original="{{ MEDIA_URL }}{{ article.cover }}"
                                     src="{{ MEDIA_URL }}{{ article.cover }}"
                                     alt="{{ article.title }}" style="display: inline;">
                            </a>

                            <header>
                                <a class="cat" href="{% url 'app01:list' id=article.id %}"
                                   title="{{ article.category }}">
                                    {{ article.category }}
                                    <i></i>
                                </a>
                                <h2>
                                    <a href="{% url 'app01:show' id=article.id %}" title="{{ article.title }}"
                                       target="_blank">{{ article.title }}
                                    </a>
                                </h2>
                            </header>
                            <p class="meta">
                                <time class="time">
                                    <i class="glyphicon glyphicon-time"></i>
                                    {{ article.create_time }}
                                </time>

                                <span class="views">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    {{ article.nvum }}
                                </span>

                                <a class="comment" href="{% url 'app01:show' id=article.id %}" title="评论"
                                   target="_blank">
                                    <i class="glyphicon glyphicon-comment"></i>
                                    4
                                </a>
                            </p>
                            <p class="note">{{ article.Content | truncatechars:'30' }}</p>
                        </article>

                    {% endautoescape %}
                {% endfor %}
                {% include '_pagination.html' %}
                <nav class="pagination" style="display: none;">
                    <ul>
                        <li class="prev-page"></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="?page=2">2</a></li>
                        <li class="next-page"><a href="?page=2">下一页</a></li>
                        <li><span>共 2 页</span></li>
                    </ul>
                </nav>
            </div>
        </div>
        <aside class="sidebar">
            <div class="fixed">
                <div class="widget widget-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab"
                                                                  data-toggle="tab">统计信息</a></li>
                        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">联系站长</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane contact active" id="notice">
                            <h2>日志总数:
                                {{ articles.count }}
                            </h2>
                            <h2>网站运行:
                                <span id="sitetime">88天 </span></h2>
                        </div>
                        <div role="tabpanel" class="tab-pane contact" id="contact">
                            <h2>QQ:
                                <a href="" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom"
                                   title="" data-original-title="QQ:"></a>
                            </h2>
                            <h2>Email:
                                <a href="#" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom"
                                   title="" data-original-title="#"></a></h2>
                        </div>
                    </div>
                </div>
                <div class="widget widget_search">

                    <form class="navbar-form" action="{% url 'app01:search' %}" method="post">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字"
                                   maxlength="15" autocomplete="off">
                            <span class="input-group-btn">
		<button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
		</span></div>
                    </form>
                </div>
            </div>
            <div class="widget widget_hot">
                <h3>最新评论文章</h3>
                <ul>
                    {% for article_content in art_conetn %}
                        <li>
                            <a title="{{ article_content.title }}" href="{% url 'app01:show' id=article_content.id %}">
                            <span class="thumbnail">
                                <img class="thumb" data-original="images/201610181739277776.jpg"
                                     src="{{ MEDIA_URL }}{{ article_content.cover }}"
                                     alt="{{ article_content.title }}" style="display: block;">
			                </span>
                                <span class="text">
                                {{ article_content.title }}
                            </span>
                                <span class="muted">
                                <i class="glyphicon glyphicon-time"></i>
                                    {{ article_content.create_time }}
                            </span>
                                <span class="muted">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                {{ article_content.nvum }}
                            </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>{% for ab in abs %}
            <div class="widget widget_sentence">
                <a href="{{ ab.link }}" target="_blank" rel="nofollow" title="专业网站建设">
                    <img style="width: 100%" src="{{ MEDIA_URL }}{{ ab.logo }}" alt="专业网站建设"></a>
            </div>
        {% endfor %}

            <div class="widget widget_sentence">
                <h3>友情链接</h3>
                <div class="widget-sentence-link">
                    <a href="https://www.baidu.com" title="百度" target="_blank">百度</a>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </aside>
    </section>
    <footer class="footer">
        <div class="container">
            <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank"
                                                                         href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
        <div id="gotop"><a class="gotop"></a></div>
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {#    <script src="{% static 'js/jquery.ias.js' %}"></script>#}
    {#    <script src="{% static 'js/scripts.js' %}"></script>#}
{% endblock %}
