<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style>
        span{
            color: red;
            font-size: 20px;
        }
    </style>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {% if error %}
        <span>{{ error }}</span>
    {% endif %}


    <div>
        {{ loginform.phone.label }}{{ loginform.phone }}
        {% if loginform.phone.errors %}
            <span>{{ loginform.phone.errors.0 }}</span>
        {% endif %}
    </div>

    {{ loginform.pwd.label }}{{ loginform.pwd }}
    <input type="submit" value="提交">
</form>

</body>
</html>