<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        span {
            color: red;
            font-size: 20px;
        }
    </style>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div>
        {{ registerform.phone.label }}
        {{ registerform.phone }}
        {% if registerform.phone.errors %}
            <span>
        {{ registerform.phone.errors.0 }}
        </span>
        {% endif %}
    </div>

    <div>
        {{ registerform.pwd.label }}
        {{ registerform.pwd }}
        {% if registerform.pwd.errors %}
            <span>{{ registerform.pwd.errors.0 }}</span>
        {% endif %}
    </div>

    <div>
        {{ registerform.pwd2.label }}
        {{ registerform.pwd2 }}
        {% if registerform.pwd2.errors %}
            <span>{{ registerform.pwd2.errors.0 }}</span>
        {% endif %}
    </div>


    <div>
        {{ registerform.email.label }}
        {{ registerform.email }}
        {% if registerform.email.errors %}
            <span>
                {{ registerform.email.errors.0 }}
            </span>
        {% endif %}
    </div>

    <div>
        {{ registerform.user_name.label }}
        {{ registerform.user_name }}
        {% if registerform.user_name.errors %}
            <span>
                {{ registerform.user_name.errors.0 }}
            </span>
        {% endif %}
    </div>

    <div>
        {% if registerform.non_field_errors %}
            {% for item in registerform.non_field_errors %}
                <span class="error_msg">{{ item }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <input type="submit" value="提交">
</form>
</body>
</html>