<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
{% if user %}
    <span>您好{{ user.username }}欢迎回家</span>
    <a href="/app01/logout">退出登录</a>
    <br>
    <h1>下面是为您推介的用户</h1>
    {% if re_user %}

        {% for user in re_user %}
            <div style="margin-bottom: 10px;">
                推介人姓名 {{ user.username }} <br>
                推介人爱好 {{ user.happy }} <br>
                推介人头像 <img src="{{ MEDIA_URL }}{{ user.cover }}">
            </div>
        {% endfor %}

    {% endif %}
{% else %}
    <span style="color: red">{{ error }}</span>
    <a href="/app01/register/">现在立即去注册</a>
    <a href="/app01/login/">已有账号立即登录</a>

{% endif %}


</body>
</html>